html, body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%; 
    height: 50px; 
    background-color: rgb(179,111,137);
    padding-top: 10px;
    padding-bottom: 10px;
}
main {
    width: 100%; 
    height: 700px; 
    background-color: rgb(232,176,197);
    padding-top: 0px; 
}
footer {
    width: 100%; 
    height: 50px; 
    background-color: rgb(115,73,89);
    text-align: right;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav a {
    text-decoration: none;
}
nav li {
    display: inline-block;
    width: 100px;
    height: 30px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    color: rgb(99,62,76);
    font-size: large;
    font-family: fantasy;
}
h1 {
    color: rgb(148, 34, 72);
    font-family: fantasy;
    font-size: 50px;
    margin-top: 15px;
}
h2 {
    color:rgb(115, 73, 89);
}
p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    border-color: rgb(179,111,137);
    background-color: rgb(179,111,137);
}
td {
    background-color: rgb(225, 167, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.rund {
    border-radius:300px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px
}